/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/

// Buttons



button {
    background: #00619a;
    border: none;
    border-radius: 0.4em;
    color: #fff;
    padding: 0.6em;
}

.login-wrap {
    text-align: center;
    @media(min-width: $widePhone) {
        text-align: right;
    }
    button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-left: 1.4em;
        padding-right: 1.4em;
    }
}