.container {
    @include container(70em);
   // position: relative;
    z-index: 0;
}



.wide {
    background-color: $blue;
    margin: 1em 0 0 0;
    @media (min-width: $tablet) {
        margin-bottom: 1em;
        position: relative;
        z-index: 1;
    }
}

.prettyFace {
    display: none;
    @media (min-width: $widePhone) {
        @include span(1 of 5);
        display: inline-block;
        img {
            width: 100%;
        }
    }
}

.content-container .prettyFace {
  @media (min-width: $widePhone) {
    @include with-layout($page-grid) {
      @include span(1 of 5);
    }
  }
}

.pageContent {
  @media (min-width: $widePhone) {
    @include with-layout($page-grid) {
      @include span (4 at 2 of 5);
    }
  }
}